.cart-list {
  padding-left: 0px;
}
.checkout-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
}
.order-total {
  font-size: 17px;
  color: #666069;
  font-family: 'Roboto';
  margin-bottom: 0px;
}
.total-amount {
  font-size: 20px;
  font-weight: bold;
  color: #141414;
  font-family: 'Roboto';
}
.items-in-cart {
  line-height: 2;
  font-size: 14px;
  margin: 0px;
}
.checkout-btn {
  background-color: #b23de0;
  width: 100%;
  font-size: 18px;
  color: #ffffff;
  padding: 7px;
  border-width: 0px;
}
